.home {
  height: 100vh;
  /* Adjust based on your needs */
  overflow-x: hidden;
  overflow-y: hidden;
  opacity: 0.9;
}

.home-importantText {
  color: rgb(245, 255, 98);
  width: 100vh;
}

.home-header {
  margin-top: 40%;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.3vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  animation: fadeInSlideInLeft 1s ease-out forwards;
  /* Apply the animation */
}

@keyframes fadeInSlideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-astronaut {
  margin-left: 20%;
  margin-top: 1%;
  animation: fadeInSlideUp 1s ease-out forwards;
}