.about-header {
  margin-top: 7% !important;
}

.header-color {
  color: rgb(245, 255, 98);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.about-text {
  margin-top: 1% !important;
}

.header-text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  animation: fadeInSlideInLeft 1s ease-out forwards;
}

.astronaut-reading {
  margin-left: 190% !important;
}

li.borderless {
  border-top: 0 none;
}

.skill-container {
  width: 100%;
}

@keyframes fadeInSlideInLeft {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.skills-container {
  opacity: 0;
  transform: translateY(50%);
  filter: blur(5px);
  transition: all 0.5s;
}

.Show {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}