.ProjectContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white
}

.projectTitle {
    display: flex;
    font-size: 2vw;
    font-weight: bold;
    margin: 2% 0 0 2%;
    height: 5vw;
    width: 100vw;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}
