`   111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111.ProjectContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white
}

.ProjectTitle {
    display: flex;
    font-size: 2vw;
    font-weight: bold;
    height: 5vw;
    width: 100%;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Project {
    display: flex;
}