.ProjectContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white
}

.line {
    background-color: black;
    height: 5vh;
    width: 10%;
    background-color: black;
}

.ProjectTitle {
    display: flex;
    font-size: 2vw;
    font-weight: bold;
    height: 10vh;
    margin-top: 3vh;
    width: 100%;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Project {
    display: flex;
    background-color: pink;
    height: 85vh;
}