.NavigationContainer {
    display: flex;
    width: 100vw;
    height: 7vh;
    background-color: pink;
    border-radius: 0 0 0.5vw 0.5vw;
    justify-content: space-between;
}

.NavHeader {
    display: flex;  
    flex-direction: row;
    width: 35%;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    
}

.SocialHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.SocialHeader img  {
    height: 20%;
}