.pfpContainer {
    display: flex;
    width: 20vw;
    height: 20vw;
    border-radius: 10vw;
    background-color: pink;
    position: absolute;
    right: 0;
    margin: 10%;
    align-items: center;
    justify-content: center;
}

.pfpContainer img {
    width: 90%;
    height: 90%;
    border-radius: 10vw;
}