.AboutContainer {
    display: flex;
    background-color: black;
    width: 50%;
    height: 70%;
    position: absolute;
    margin-top: 11%;
    margin-right: 10%;
    right: 0;
    flex-direction: column;
    color: white;
}

.TitleText {
    color: white;
    font-size: 3vw;
    margin: 1vw;
}

.SubtitleText {
    margin: 1vw;

}

.Text {
    color: white;
    font-size: 1.2vw;
    margin: 1vw;
    font-family: 'Quicksand','sans-seriff';
}