.AboutContainer {
    display: flex;
    background-color: black;
    width: 50%;
    height: 82%;
    position: absolute;
    margin-top: 5%;
    margin-right: 3%;
    right: 0;
    flex-direction: column;
    color: white;
}

.TitleText {
    color: white;
    font-size: 3vw;
}


.Text {
    color: white;
    font-size: 1vw;
    margin: 1vw;
}