/* Reset margin and padding for body and html */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow at the document level */
}

/* Ensure box-sizing is border-box for all elements */
*, *::before, *::after {
  box-sizing: border-box;
}

.container-fluid {
  height: 100vh;
  width: 100%; /* Use 100% instead of 100vw to avoid issues with the scrollbar */
  overflow-x: hidden;
}

.navbar {
  width: 100%; /* Use 100% to ensure it covers the full width of its container */
}