/* Home.css */
.container-fluid {
  height: 100vh; /* Make the container fill the entire viewport height */
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100vw;
}
