.welcomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 50vw;
    height: 30vw;
  }
.cursor {
  width: 1ch;
  visibility: visible;
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0%,
  100% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
}

.animatedText {
    display: inline-block;
    text-align: center;
}