.welcomeContainer {
  display: flex;
  background-color: black;
  width: 50vw;
  height: 30vw;
  align-self: center;
  justify-content: center;
}

.cursor {
    width: 1ch;
    visibility: visible;
    animation: blink 0.5s infinite; // Decrease this value to make the cursor blink faster
  }
  
  @keyframes blink {
    0%, 100% {visibility: visible;}
    50% {visibility: hidden;}
  }