.welcomeContainer {
    display: flex;
    background-color: black;
    width: 50vw;
    height: 30vw;
    align-self: center;
    justify-content: center;
}
.cursor {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }