.pContainer {
    background-color: pink;
    width: 30%;
    height: 30%;
    margin-left: 10vw;
    display: flex;
    justify-content: flex-end;
}

.pInfoContainer {
    background-color: black;
    border-radius: 1vw;
    width: 90%;
    display: flex;
    height: 90%;
}