.skill-container {
  height: 50vh;
}

.skill-subcontainer {
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin: 0% 4% 8% 3%;
  height: 30%;
  filter: invert(100%);
  background-color: rgba(165, 200, 176, 0.9);
}


.skill-subcontainer:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out; 
}

.space-cat {
  width: 20%;
  margin-left: 6%;
}