.projects-title {
  color: rgb(31, 11, 72);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.custom-img-size {
  width: 85%;
  height: 35vh;
  padding-top: 10%;
  margin: auto;
}

.project-card-view {
  height: auto;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  animation: slideInFromLeft 1s ease-out forwards;
  border-radius: 2%;
  transition: transform 0.3s ease;
  /* Ensure smooth scaling transition */
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.github-chart-container {
  background-color: rgb(35, 8, 35);
}

.github-chart {
  width: 100%;
  height: auto;
}