.arrowContainer {
    display: flex;
    width: 100vw;
    height: 18vh;
    justify-content: center;

}

.buttonContainer {
    display: flex;
    border-radius: 10vw;
    margin-bottom: 5vh;
    width: 5vw;
    height: 5vw;
}

.buttonContainer img {
    width: 100%;
    filter: invert(1);
}

.buttonContainer:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: ;
}