.arrowContainer {
    display: flex;
    background-color: black;
    width: 100vw;
    height: 18vh;
    justify-content: center;

}

.buttonContainer {
    background-color: white;
    display: flex;
    border-radius: 2vw;
}

.buttonContainer img {
    width: 100%;
    filter: invert(1);
}