.arrowContainer {
    display: flex;
    width: 100vw;
    height: 18vh;
    justify-content: center;

}

.buttonContainer {
    display: flex;
    border-radius: 10vw;
    margin-bottom: 5vh;
    width: 10vw;
    height: 10vw;
    background-color: black;
}

.buttonContainer img {
    width: 100%;
    filter: invert(1);
}