.pfpContainer {
    display: flex;
    width: 32vw;
    height: 41vw;
    position: absolute;
    margin: 8% 0 0 4%;
    align-items: center;
    justify-content: center;
}

.pfpContainer img {
    width: 95%;
    height: 95%;
}