.custom-card .d-flex {
  display: flex;
  align-items: center; /* Adjust alignment as needed */
}

.custom-img-experience-size {
  width: 20%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  padding: 1%; /* Add some space between the image and the content */
}

.card-content {
  flex: 1; /* Allows the content to fill the remaining space */
}

.experiences-title {
  color: rgb(245, 255, 98);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.project-container {
  transition: transform 0.3s ease-in-out;
}

.project-container:hover {
  transform: scale(1.02);
  
}

.custom-bg-color {
  background-color: #000220; /* Light Blue */
}
