.nav-link {
    color: #000; /* Initial color */
    text-decoration: none; /* Ensures text is not underlined initially */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition for color and text-decoration */
  }
  
  .nav-link:hover, .nav-link:focus {
    color: #007bff; /* New color on hover */
    text-decoration: underline; /* Underline on hover */
  }