@media (max-width: 768px) {
  .navbar-nav .nav-item .nav-link {
    font-size: 14px; /* Smaller font size for smaller screens */
  }
}

.navbar {
  height: 10vh;
  width: 100%;
  overflow-x: hidden;
  transition: top 0.3s ease-in-out;

}

.nav-link {
  transition: font-size 1s ease, color 0.3s ease; /* Add this line for smooth transition */
  color: white;
}

.nav-link:hover {
  font-size: 1.2em;
}

.hide-navbar {
  top: -100%; /* Adjust based on the height of your navbar */
}