.WelcomeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 93vh;
    background-color: aqua;
}

.Welcome {
    display: flex;
    width: 40vw;
    height: 40vw;
    background-color: black;
    align-items: center;
    justify-content: center;
    color: white;
}

.AlternatingText + .Welcome {
    font
}