.WelcomeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 93vh;
    background-color: transparent;
}

.Welcome {
    display: flex;
    width: 50vw;
    height: 40vw;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    font-size: 1.5vw;
    margin-bottom: 1vw;
}

.AlternatingText {
    margin-bottom: 2vw;
    font-size: 3vw;

}

.cursor {
    width: 1ch;
    visibility: visible;
    animation: blink 0.5s infinite;
  }
  
  @keyframes blink {
    0%, 100% {visibility: visible;}
    50% {visibility: hidden;}
  }